# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [1]:
# Use this cell to write your code for Task 1
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_rows', 40)

import pandas as pd

df = pd.read_csv("house_sales.csv")
df.head(50)

df['city'].replace('--', np.nan, inplace=True)

missing_city = df["city"].isna().sum()

print(missing_city)

73

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [2]:
import pandas as pd

# Load the data
df = pd.read_csv("house_sales.csv")

# Task 1: Handling missing values in the 'city' column
#df['city'].replace('--', np.nan, inplace=True)
#df['city'].fillna("Unknown", inplace=True)

df['city'].replace('--', 'Unknown', inplace=True)


# Task 2: Removing missing entries in the 'sale_price' column
df.dropna(subset=['sale_price'], inplace=True)
df = df[df['sale_price'] > 0]

# Task 3: Handling missing values in the 'sale_date' column
df['sale_date'].fillna("2023-01-01", inplace=True)

# Task 4: Cleaning the 'months_listed' column
mean_months_listed = df['months_listed'].mean()
df['months_listed'].fillna(mean_months_listed, inplace=True)
df['months_listed'] = df['months_listed'].round(1)

# Task 5: Cleaning the 'bedrooms' column
mean_bedrooms = df['bedrooms'].mean()
df['bedrooms'].fillna(round(mean_bedrooms), inplace=True)

# Task 6: Cleaning the 'house_type' column
#valid_house_types = ['Terraced', 'Semi-detached', 'Detached']
#df.loc[~df['house_type'].isin(valid_house_types), 'house_type'] = 'Unknown'

df['house_type'].replace({'Det.': 'Detached', 'Semi': 'Semi-detached', 'Terr.': 'Terraced'}, inplace=True)
most_common_house_type = df['house_type'].mode()[0]
df['house_type'].fillna(most_common_house_type, inplace=True)

# Task 7: Cleaning the 'area' column
df['area'] = df['area'].str.extract(r'(\d+\.\d+)').astype(float)


# Create the cleaned dataframe
clean_data = df.copy()

# Display the resulting DataFrame
print(clean_data)

      house_id        city  sale_price   sale_date  months_listed  bedrooms  \
0      1217792  Silvertown       55943  2021-09-12            5.4         2
1      1900913  Silvertown      384677  2021-01-17            6.3         5
2      1174927   Riverford      281707  2021-11-10            6.9         6
3      1773666  Silvertown      373251  2020-04-13            6.1         6
4      1258487  Silvertown      328885  2020-09-24            8.7         5
...        ...         ...         ...         ...            ...       ...
1495   1123892   Riverford      198661  2022-02-17            7.3         5
1496   1327295   Poppleton      358304  2020-10-10            6.2         6
1497   1058161   Riverford      176612  2022-11-01            6.8         4
1498   1822037    Teasdale      197827  2021-04-03            5.4         3
1499   1679272   Poppleton      162099  2021-12-06            5.0         3

         house_type   area
0     Semi-detached  107.8
1          Detached  498.8
2          Detached  542.5
3          Detached  528.4
4          Detached  477.1
...             ...    ...
1495       Detached  432.2
1496       Detached  599.8
1497       Detached  359.1
1498       Detached  253.7
1499       Detached  268.7

[1500 rows x 8 columns]

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [3]:

df = pd.read_csv("house_sales.csv")

# Replace missing values in the 'bedrooms' column with the mean
mean_bedrooms = df['bedrooms'].mean()
df['bedrooms'].fillna(round(mean_bedrooms), inplace=True)

# Calculate average price and variance by number of bedrooms
price_by_rooms = df.groupby('bedrooms')['sale_price'].agg(['mean', 'var']).reset_index()
price_by_rooms.columns = ['bedrooms', 'avg_price', 'var_price']

# Round the values to 1 decimal place
price_by_rooms = price_by_rooms.round(1)

# Display the resulting DataFrame
print(price_by_rooms)

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [4]:

train_data = pd.read_csv("train.csv")
validation_data = pd.read_csv("validation.csv")

train_data = pd.get_dummies(train_data, columns=["city", "house_type"], drop_first=True)
validation_data = pd.get_dummies(validation_data, columns=["city", "house_type"], drop_first=True)

train_data["sale_date"] = pd.to_datetime(train_data["sale_date"])
validation_data["sale_date"] = pd.to_datetime(validation_data["sale_date"])

train_data["sale_year"] = train_data["sale_date"].dt.year
train_data["sale_month"] = train_data["sale_date"].dt.month
train_data["sale_day"] = train_data["sale_date"].dt.day

validation_data["sale_year"] = validation_data["sale_date"].dt.year
validation_data["sale_month"] = validation_data["sale_date"].dt.month
validation_data["sale_day"] = validation_data["sale_date"].dt.day

target_variable = "sale_price"

X = train_data.drop(columns=[target_variable, "sale_date"])
y = train_data[target_variable]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

baseline_model = LinearRegression()
baseline_model.fit(X_train, y_train)

X_validation = validation_data.drop(columns=["sale_date"])
predicted_prices = baseline_model.predict(X_validation)

base_result = pd.DataFrame({"house_id": validation_data["house_id"], "price": predicted_prices})

print(base_result)

     house_id          price
0     1331375  122123.371414
1     1630115  301093.968201
2     1645745  383868.093415
3     1336775  124987.007602
4     1888274  271631.042705
..        ...            ...
295   1986255  349514.854794
296   1896276  370161.455263
297   1758223  259358.691152
298   1752010  166744.151123
299   1651404  389046.798381

[300 rows x 2 columns]

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [5]:
# Use this cell to write your code for Task 5

comparison_model = RandomForestRegressor(random_state=42)
comparison_model.fit(X_train, y_train)

X_validation = validation_data.drop(columns=["sale_date"])
predicted_prices = comparison_model.predict(X_validation)

compare_result = pd.DataFrame({"house_id": validation_data["house_id"], "price": predicted_prices})

print(compare_result)

     house_id      price
0     1331375   82007.62
1     1630115  310172.50
2     1645745  393260.69
3     1336775  107933.62
4     1888274  268890.06
..        ...        ...
295   1986255  360623.70
296   1896276  380266.64
297   1758223  262351.54
298   1752010  171940.31
299   1651404  409135.48

[300 rows x 2 columns]

In [6]:
#for base_model RMSE 
mse_base = mean_squared_error(y_test, baseline_model.predict(X_test))
rmse_base = np.sqrt(mse_base)
print(f"\nBaseline Model RMSE: {rmse_base}")

#for compare model RMSE
mse_compare = mean_squared_error(y_test, comparison_model.predict(X_test))
rmse_compare = np.sqrt(mse_compare)
print(f"Comparison Model RMSE: {rmse_compare}")

Baseline Model RMSE: 22813.996486072036
Comparison Model RMSE: 14548.859084930087